@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}

.main {
	background-color: #0e0e0e;
	background-image: url(../images/Bg.jpg);
	background-repeat: no-repeat;
	height: auto;
	width: 100%;
	padding-top: 20px;
}
.main-body {
	background-color: #fff;
	margin: auto;
	height: auto;
	width: 960px;
	border-radius: 5px;
	position:relative;
	transition:all 0.5s ease;
}
.main-body-head {
	height: 35px;
	width: 960px;
	margin: auto;
}
.main-body-head a img {
	float: right;
	display: block;
}
.main-body-nav {
	height: 50px;
	width: 960px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	transition:all 0.5s ease;
}
.main-body-nav-fixed {
	height: 50px;
	width: 960px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	position:fixed;
	top:0px;
	background-color:#d2d3d8;
	transition:all 0.5s ease;
	z-index:1;
}
.main-body-nav-img {
	float: left;
	height: 45px;
	width: 230px;
	margin-left:20px;
	margin-top:5px;
}


.main-body-nav-list {
	float: right;
	height: 50px;
	width: 500px;
	text-align: right;
}
.main-body-nav-list ul {
	text-align: right;
	margin-top: 15px;
}
.main-body-nav-list ul li {
	display: inline;
	list-style-type: upper-alpha;
}
.main-body-nav-list ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #808080;
	text-decoration: none;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
}
.main-body-nav-list ul li a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	background-color: #0d54b3;
	border-radius: 5px;
}


.main-body-abt-pic {
	background-image: url(../images/about_header.png);
	height: 83px;
	width: 960px;
	transition: all 0.5s ease;
	background-repeat: no-repeat;
}
.main-body-abt-pic-update {
	background-image: url(../images/about_header.png);
	position: relative;
	margin-top: 10px;
	transition: all 0.5s ease;
	background-repeat: no-repeat;
}
.main-body-abt {
	height: 705px;
	width: 960px;
}
.main-body-abt-text {
	height: 703px;
	width: 600px;
	margin-left: 40px;
	float: left;
}
.main-body-abt-text p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #4f4f4f;
	text-align: justify;
	margin-top: 42px;
	line-height: 20px;
}
.main-body-side-nav {
	float: left;
	height: 703px;
	width: 219px;
	margin-left: 50px;
}
.main-body-side-nav-1 {
	background-color: #fff;
	background-image: url(../images/side-nav.png);
	float: left;
	height: 190px;
	width: 219px;
	margin-top: 42px;
	background-repeat: no-repeat;
}
.main-body-side-nav-1 h5 {
	text-align: left;
	margin-top: 7px;
	margin-left: 23px;
}
.main-body-side-nav-1 img {
	margin-top: 22px;
	margin-left: 19px;
	float: left;
	margin-right: 10px;
}
.main-body-side-nav-1 p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	margin-top: 22px;
}
.main-body-side-nav-1 p a {
	text-decoration: none;
}
.main-body-side-nav-2 {
	float: left;
	height: 473px;
	width: 221px;
	background-color: #fff;
	background-image: url(../images/side-nav.png);
	background-repeat: no-repeat;
}
.main-body-side-nav-2 img {
	margin-top: 34px;
	margin-left: 22px;
}
.main-body-side-nav-2 h5 {
	margin-top: 7px;
	margin-left: 23px;
}

.main-body-footer1 {
	background-color: #ededed;
	height: 214px;
	width: 960px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #666;
}
.main-body-footer1-box1 {
	float: left;
	height: 194px;
	width: 157px;
	margin-top: 19px;
	margin-left: 38px;
	margin-bottom: auto;
}
.main-body-footer1-box1 h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #585858;
}
.main-body-footer1-box1 p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #4f4f4f;
	text-align: justify;
	margin-top: 10px;
}
.main-body-footer1-box2 p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #4f4f4f;
	text-align: justify;
	margin-top: 10px;
}
.main-body-footer1-box1 p a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #4f4f4f;
	text-decoration: none;
}
.main-body-footer1-box1 p a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #4f4f4f;
	text-decoration: underline;
}
.main-body-footer1-box2 {
	float: left;
	height: 194px;
	width: 317px;
	margin-top: 20px;
	margin-left: 75px;
}
.main-body-footer1-box2 h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #585858;
}
.main-body-footer1-box2 p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #4f4f4f;
	text-align: justify;
	line-height: 20px;
}
.main-body-footer1-box3 {
	float: left;
	height: 194px;
	width: 285px;
	margin-top: 20px;
	margin-left: 60px;
}
.main-body-footer1-box3 h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #585858;
}
.main-body-footer1-box3 p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4f4f4f;
	text-align: justify;
	margin-top: 10px;
	line-height: 12px;
}

.main-body-footer2 {
	background-color: #ededed;
	height: 60px;
	width: 960px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cccccc;
}
.main-body-footer2-box1 {
	float: left;
	height: 60px;
	width: 544px;
	margin-left: 37px;
}
.main-body-footer2-box1 p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #4f4f4f;
	margin-top: 20px;
}
.main-body-footer2-box2 {
	float: left;
	height: 60px;
	width: 300px;
	margin-left: 58px;
	background-image: url(../images/4.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.main-body-footer2-box2 img {
	float: left;
	margin-top: 20px;
	margin-right: 20px;
}
